@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="jumbotron">
            <div class="text-center">
                <h4>Please provide your city:</h4>
                @(Html.Kendo().AutoComplete()
          .Name("CityAutoComplete") //The name of the AutoComplete is mandatory. It specifies the "id" attribute of the widget.
          .DataTextField("CityName") //Specify which property of the Product to be used by the AutoComplete.
          .BindTo((IEnumerable<IIW.Models.ProjectModels.Cities>)TempData["Cities"])   //Pass the list of Products to the AutoComplete.
          .Filter("contains") //Define the type of the filter, which AutoComplete will use.
                )
                <span class="btn" id="btnSearch"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">

</div>
<script>
    $('#btnSearch').click(function () {
        var x = $('#CityAutoComplete').val();
        alert(x);
    });
</script>